.checkoutproduct {
  /* margin: 0; */
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutproduct__img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutproduct_info {
  padding-left: 20px;
}

.checkoutproduct__title {
  font-size: 17;
  font-weight: 800;
}

.checkoutproduct__rating {
  display: flex;
}

.checkoutproduct__button {
  background-color: orange;
  border: 1px solid black;
  margin-top: 10px;
}
